mlruns/*
mlartifacts
mlflow.db

wine_classifier/mlruns/*
wine_classifier/backup/*
wine_classifier/*.html

.ipynb_checkpoints/*
.metrics/*
.venv

cat_vs_dog
cat_vs_dog/dog-vs-cat/cat/*
cat_vs_dog/dog-vs-cat/dog/*
cat_vs_dog/dog-vs-cat/test/*

housing_price

wsl_py3.10

model_monitoring


training_data
